@keyframes slideDisappearance {
  from {
    opacity: 0.3;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideAppearance {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 0.3;
    visibility: visible;
  }
}

@keyframes slideContentDisappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideContentAppearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}