@media (max-width: 1199px) {
  .agent-in-china {
    &__descr {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .agent-in-china {
    padding: 40px 0 60px 0;
    &__descr {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media (max-width: 767px) {
  .agent-in-china {
    padding: 35px 0 50px 0;
    &__icon-container {
      width: 80px;
      height: 80px;
    }
    &__icon {
      position: absolute;
      height: 40px;
      bottom: 22px;
      left: 20px;
    }	
    &__descr {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (max-width: 575px) {
  .agent-in-china {
    padding: 18px 0 25px 0;
    &__title {
      margin-top: 10px;
    }
    &__descr {
      margin-top: 11px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}