.section-title {
  margin: 0;
  color: $dark-grey-text;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  &_inverted {
    color: #fff;
    text-transform: none;
  }
}